@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  font-family: Verdana, Geneva, Tahoma, sans-serif, "Josefin Sans", sans-serif;
  background-color: #7d8d86;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 15px;
}

header h1 {
  margin: 0;
  font-size: 2em;
  border-radius: 15px;
}


nav {
  margin-top: 10px;
}

nav a {
  color: #1c2a48;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.banner {
  width: 800;
  height: 200;
}

.tituloPrincipal{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.tituloDoVerdadeiroOuFalso{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.menbros{
  background-color: #b0bdb8;
  border-radius: 15px;
}

.tituloMenbros {
  text-align: center;
}

.divMenbros{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
}

.menbro{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 225px;
  align-items: center;
  margin: 0 50px;
  padding: 10px;
}

.imagemMembro{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.imagemTituloDoVerdadeiroOuFalso{
  margin: 0px 20px 0px 0px;
}

.verdadeiro:hover { 
  background-color: rgb(0, 86, 0);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.falso:hover {
  background-color: rgb(167, 0, 0);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.verdadeiro {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 5px;
}

.falso{
  background-color: red;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 5px;
}

.alternativas {
  display: flex;
  gap: 10px;
}

.alternativa {
  background-color: #2677c7;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 5px;
}

.alternativa:hover {
  background-color: #004b9b;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.botoesFinais:hover { 
  background-color: #080e1b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 30px 0 0 0;
  cursor: pointer;
}

.botoesFinais { 
  background-color: #1c2a48;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 30px 0 0 0;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    
}

main h2 {
  color: #1c2a48;
  margin-bottom: 20px;
}

main p,
main li,
main blockquote {
  line-height: 1.6;
  margin-bottom: 16px;
  text-align: justify;
  font-weight: bold;
  
}

img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
}

footer {
  text-align: center;
  background-color: #7d8d86;
  color: white;
  padding: 15px 0;
  margin-top: 40px;
  border-radius: 15px;
}